<xml>
    <ToUserName><![CDATA[<%= ToUserName %>]]></ToUserName>
    <FromUserName><![CDATA[<%= FromUserName %>]]></FromUserName>
    <CreateTime><%= CreateTime %></CreateTime>
    <MsgType><![CDATA[news]]></MsgType>
    <ArticleCount><%= ArticleCount %></ArticleCount>
    <Articles>
        <% Articles.foreach(function(article){ %>
        <item>
            <Title><![CDATA[<%= article.Title %>]]></Title>
            <Description><![CDATA[<%= article.Description %>]]></Description>
            <PicUrl><![CDATA[<%= article.PicUrl %>]]></PicUrl>
            <Url><![CDATA[<%= article.Url %>]]></Url>
        </item>
        <% }) %>
    </Articles>
</xml>